@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-var.ttf') format('truetype');
  font-weight: 100 900;  /* This covers the range from Thin (100) to Black (900) */
  font-style: normal;
  font-display: swap; /* Optional: This helps in loading the font more seamlessly */
}
